*{
    margin: 0;
    padding: 0;
}

#images{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    place-items: center;
    height: 100vh;
}

.portrate{
    display: flex;
    flex-direction: column;

    justify-content: center;

    font-size: 3vmin;
    text-align: center;

    height: 45vh;
    width: 25vw;
}

.image{
    height: inherit;
    width: inherit;
}